.about {
  background: url(../../img/about/about-bg.jpg) top center;
  background-repeat: no-repeat;
  background-size: cover;

  @include max($xl) {
    background-repeat: repeat-y;
    text-align: center;
}
}

.item-about {
  display: flex;
  justify-content: space-between;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  &:not(:last-child) {
    margin-bottom: 150px;
  }

  @include max($xl) {
    display: block;
}

@include max($md) {

  &:not(:last-child) {
    margin-bottom: 70px;
  }
}
}

.item-about__img {
  @include max($xl) {
    margin: 0 auto 40px;
}
}

.content-about {
  max-width: 600px;
  width: 100%;

  @include max($xl) {
    max-width: 100%;
}
}

.content-about__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.content-about__subtitle {
  display: block;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $blue;
  margin-bottom: 30px;
}

.content-about__desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  & p {
    width: 165px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  @include max($xl) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@include max($xl) {
  display: block;
}
}

.table-about {
  border-collapse: collapse;
  margin-bottom: 50px;
  text-align: center;

  @include max($xl) {
    width: 100%;;
  }
}

.table-about__tr {
  border: 1px solid $white;
  border-left: none;
  border-right: none;

  &:not(:first-child) {
    .table-about__td {
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
    }
  }

    @include max($md) {

      &:first-child {
      display: none;
    }

    &:not(:first-child) {
      .table-about__td {
      font-size: 18px;
      line-height: 18px;
      }
  }
}
}

.table-about__td {
  padding: 10px 30px 10px 0;

      @include max($md) {
        display: block;
        text-align: right;

        &::before {
      content: attr(aria-label);
      float: left;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $white;
    }
  }
}

.table-about__text {
  display: block;
  font-size: 14px;
  line-height: 17px;

  @include max($md) {
    display: inline-block;
  }
}

.about-content__btn {
  max-width: 300px;
  width: 100%;
}

.table-about__caption {
  caption-side: bottom;
  text-align-last: left;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
}