.contacts {
  background-color: #010203;
}

.contacts__container {
  display: flex;

  @include max($lg) {
    display: block;
  }
}

.content-contacts {
  max-width: 500px;
  width: 100%;
  margin-right: 100px;

  @include max($lg) {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.content-contacts__title {
  margin-bottom: 45px;
}

.content-contacts__subtitle {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 100px;

  @include max($lg) {
    margin-bottom: 30px;
  }

  @include max($md) {
    font-size: 16px;
  line-height: 16px;
  }
}

.form-contacts__field {
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid $white;
  margin-bottom: 40px;

  &::placeholder {
    color: $white;
  }
}

.warranty-contacts__content {

  @include max($lg) {
    display: flex;
    align-items: center;
  }
}

.warranty-contacts__text {
  font-size: 24px;
  line-height: 29px;

  @include max($md) {
    font-size: 16px;
  }
}

.warranty-contacts__img {
  margin-left: auto;

  @include max($sm) {
    display: none;
  }
}