.footer {
  background: url(../../img/footer/footer-bg.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 150px;

  @include max($xl) {
    padding: 50px 0;
  }
}

.footer__list {
  display: flex;
  justify-content: flex-end;

  @include max($sm) {
    display: block;
    text-align: center;
  }
}

.footer__item {
  display: flex;
  flex-direction: column;
  width: 160px;

  &:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 20px;
  }

  @include max($sm) {
    width: 100%;
  }
}


.footer__text {

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @include max($sm) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.footer__link {
  text-transform: uppercase;
  transition: color .5s ease-in-out;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    color: $red;
  }
}