.header {
    padding: 80px 15px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.header__link {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    transition: color .3s ease-in-out;

    &:hover {
        color: $red;
    }
}

.header__user-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__phone {
    font-size: 24px;
    line-height: 29px;
    transition: color .3s ease-in-out;

    &:hover {
        color: $red;
    }
}

.header__login {
     margin-left: 20px;
     border: none;
     width: auto;
}