.header {
    padding: 80px 15px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;

    @include max($xl) {
        padding: 30px 15px 30px;
      }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;


    @include max($xl) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        padding-top: 100px;
        background-color: #000;
        opacity: .95;
        text-align: center;
        transform: translateX(-150%);
        transition: transform .5s;

        &--active {
            transform: translateX(0);
      }
    }
}

.header__item {

    &:not(:last-child) {
        margin-right: 30px;
    }

    @include max($xl) {
        padding: 30px 20px;

        &:not(:last-child) {
            margin-right: 0;
        }
      }
    }

.header__link {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    transition: color .3s ease-in-out;

    &:hover {
        color: $red;
    }

    @include max($xl) {
        padding: 20px 30px;
    }
}

.header__user-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__phone {
    font-size: 24px;
    line-height: 29px;
    transition: color .3s ease-in-out;

    &:hover {
        color: $red;
    }

    @include max($md) {
        font-size: 16px;
    }
}

.header__login {
     margin-left: 20px;
     border: none;
     width: auto;
}