.hero {
  background: url(../../img/hero/hero-bg.jpg) no-repeat top right;
  background-size: cover;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;

  @include max($xl) {
    flex-direction: column;
    justify-content: center;
  }
}

.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;

  @include max($xl) {
    margin: 0 auto 100px;
  }
}

.left-hero__title {
  font-family: SpaceAge, sans-serif;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  font-weight: 400;

  @include max($md) {
    font-size: 45px;
    line-height: 40px;
    text-align: center;
  }

  @include max($md) {
    font-size: 26px;
}
}

.left-hero__title-bottom {
  font-size: 110px;

  @include max($md) {
    font-size: 55px;
  }

  @include max($md) {
    font-size: 40px;
}
}

.left-hero__desc {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 50px;


  @include max($sm) {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
}

.left-hero__slogan {
  display: block;

  @include max($md) {
    font-size: 18px;
  }

  @include max($md) {
    font-size: 16px;
}
}

.hero__right {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 5%;
  margin-top: auto;

  p {
    max-width: 165px;
    font-size: 14px;
    line-height: 17px;

  &:not(:last-child) {
    margin-right: 50px;
   }
 }

 @include max($xl) {
  justify-content: center;
  margin-top: 0;
}
}