.how-to {
  background: url(../../img/how-to/how-to-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.how-to__box {
  text-align: center;

  & circle,
  & text,
  & foreignObject {
    transition: fill .3s ease-in-out, font-size .8s ease-in-out;
    cursor: pointer;
    font-size: 18px;
  }

  & foreignObject {
    text-align: left;
    transition: color .3s ease-in-out, font-size .8s ease-in-out;
    }

  & g:hover {
    circle {
      r: 20px;
      fill: $blue;
    }

  }

  & g:hover {
    text {
      fill: $blue;
      font-size: 36px;
    }
  }

  & g:hover {
    foreignObject {
      color: $blue;
      font-size: 22px;
    }
  }

  @include max($lg) {
    display: none;
}
}

.how-to__box-list {
  display: none;
  text-align: center;

  @include max($lg) {
    display: block;
}
}

.how-to__box-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  @include max($sm) {

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../../img/how-to/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0)
  }
}

.how-to__box-item--hidden {
  display: none;

  @include max($lg) {
    display: none;
}
}

.how-to__box-item--float {
  display: none;

  @include max($lg) {
    display: block;
}
}
