body {
    font-family: "SF", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $white;
}

.section {
    padding: 100px 0;

    @include max($md) {
        padding: 50px 0;
      }
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: SpaceAge;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    margin-bottom: 100px;

    @include max($xl) {
        text-align: center;
    }

    @include max($lg) {
        margin-bottom: 50px;
      }

      @include max($sm) {
        font-size: 30px;
        line-height: 30px;
    }
}