body {
    font-family: "SF", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $white;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}