$white: #ffffff;
$blue: #036cca;
$red: #ca0d0d;
$gray: #e5e5e5;

$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;

@mixin max($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin min($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}